{
  "proxies":
  {
    "default":
    {
      "httpProxy": "http://{{ http_proxy.host }}:{{ http_proxy.port }}",
      "httpsProxy": "http://{{ https_proxy.host }}:{{ https_proxy.port }}"
    }
  }
}
