# The network devices on which we create VFs.
SRIOV_PFS="{{ bond0_mgmt_bond_slaves | join(' ') }}"

# The number of VFs to create on each PF.
SRIOV_VF_COUNT=8

# The name of the OVS bridge to which dangling SR-IOV VFs should be moored
SRIOV_OVS_BRIDGE={{ bond0_mgmt_interface }}-ovs

